aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.3.0
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
BTrees==6.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
Chameleon==4.5.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==42.0.5
customtkinter==5.2.2
cx_Freeze==6.15.15
cx_Logging==3.1.0
cycler==0.12.1
darkdetect==0.8.0
dataclasses-json==0.6.6
Deprecated==1.2.14
dirtyjson==1.0.8
distro==1.9.0
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
filelock==3.13.4
Flask==3.0.3
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
future==1.0.0
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-speech==2.26.0
googleapis-common-protos==1.63.0
greenlet==3.0.3
grokcore.annotation==4.0
grokcore.catalog==4.0
grokcore.chameleon==4.0
grokcore.component==4.1
grokcore.content==4.1
grokcore.formlib==4.0
grokcore.layout==4.0
grokcore.message==4.0
grokcore.security==4.0
grokcore.site==4.0
grokcore.traverser==4.0
grokcore.view==4.0
grokcore.viewlet==4.0
groq==0.8.0
grpcio==1.63.0
grpcio-status==1.62.2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.1
idna==3.7
intel-openmp==2021.4.0
itsdangerous==2.2.0
Jinja2==3.1.3
joblib==1.4.0
kiwisolver==1.4.5
lief==0.14.0
llama-index==0.10.39
llama-index-agent-openai==0.2.5
llama-index-cli==0.1.12
llama-index-core==0.10.39.post1
llama-index-embeddings-huggingface==0.2.0
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.1.6
llama-index-legacy==0.9.48
llama-index-llms-ollama==0.1.5
llama-index-llms-openai==0.1.21
llama-index-multi-modal-llms-openai==0.1.6
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.23
llama-index-readers-llama-parse==0.1.4
llama-parse==0.4.3
llamaindex-py-client==0.1.19
llvmlite==0.42.0
MarkupSafe==2.1.5
marshmallow==3.21.2
martian==2.0.post1
matplotlib==3.8.4
minijinja==2.0.1
mkl==2021.4.0
more-itertools==10.2.0
MouseInfo==0.1.3
mpmath==1.3.0
multipart==0.2.4
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.59.1
numpy==1.26.4
ollama==0.2.0
openai==1.30.3
openai-whisper==20231117
openpyxl==3.1.2
packaging==23.2
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.0
pefile==2023.2.7
persistent==6.0
pillow==10.2.0
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
pyasn1==0.5.1
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
PyDirectInput==1.0.4
pydub==0.25.1
pydumpck==1.5.113
PyGetWindow==0.0.9
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.1
PyMsgBox==1.0.9
PyMuPDF==1.24.3
PyMuPDFb==1.24.3
pyparsing==3.1.2
pypdf==4.2.0
PyPDF2==3.0.1
pypdfium2==4.28.0
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PyRect==0.2.0
PyScreeze==0.1.30
PySimpleGUI==5.0.3
python-dateutil==2.9.0.post0
python-gettext==5.0
pytweening==1.0.7
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
regex==2024.4.28
reportlab==4.2.0
requests==2.31.0
rsa==4.9
safetensors==0.4.3
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
sentence-transformers==2.7.0
setuptools==69.1.0
six==1.16.0
sniffio==1.3.1
sounddevice==0.4.6
soupsieve==2.5
spark-parser==1.8.9
SQLAlchemy==2.0.30
striprtf==0.0.26
sv-ttk==2.6.0
sympy==1.12
tbb==2021.11.0
tenacity==8.3.0
threadpoolctl==3.4.0
tiktoken==0.6.0
tokenizers==0.19.1
tqdm==4.66.4
transaction==4.0
transformers==4.41.1
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uncompyle6==3.7.4
urllib3==2.2.1
Werkzeug==3.0.2
wheel==0.42.0
wrapt==1.16.0
xdis==5.0.13
XlsxWriter==3.2.0
yarl==1.9.4
z3c.autoinclude==1.0
z3c.flashmessage==3.0
z3c.pt==4.3
zc.catalog==3.0
zc.lockfile==3.0.post1
ZConfig==4.1
zdaemon==5.1
ZODB==6.0
zodbpickle==4.0
zope.annotation==5.0
zope.app.appsetup==5.0
zope.app.publication==5.0
zope.app.wsgi==5.0
zope.authentication==5.0
zope.browser==3.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.catalog==5.0
zope.component==6.0
zope.configuration==5.0.1
zope.container==6.0
zope.contentprovider==5.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.error==5.0
zope.errorview==2.0
zope.event==5.0
zope.exceptions==5.0.1
zope.filerepresentation==6.0
zope.formlib==6.0
zope.generations==5.1.0
zope.hookable==6.0
zope.i18n==5.1
zope.i18nmessageid==6.1.0
zope.index==6.1
zope.interface==6.4.post2
zope.intid==5.0
zope.keyreference==6.0
zope.lifecycleevent==5.0
zope.location==5.0
zope.login==3.0
zope.minmax==2.3
zope.pagetemplate==5.1
zope.password==4.4
zope.principalregistry==5.0
zope.processlifetime==3.0
zope.proxy==5.2
zope.ptresource==5.0
zope.publisher==7.0
zope.schema==7.0.1
zope.security==7.0
zope.securitypolicy==5.0
zope.session==5.1
zope.site==5.0
zope.size==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
